*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

body{
    width: 100%;
}
/*navigation bar */
.header{ 
    width: 100%;
    height: 130px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
/* McDonald's Logo */
.logo {
    width: 7%;
    padding-top: 18px;
    float: left;
    margin-left: 175px;
}
/* left side upper navigation menu */
.subHead{
    float: left;
    margin-left: 14px;
    padding-top: 14px;
    color: black;
}

.subHead a{
    text-decoration: none;
    color: rgb(49, 45, 45);
    font-size: small;
    padding-left: 40px;
}

#Downarrow{
    width: 2.5%;
    margin-left: 5px;
}

.rightSub{
    margin-left: 100px;
    margin-top: 14px;
    
}

.rightSub a{
    color: rgb(49, 45, 45);
    text-decoration: none;
    font-size: small;
}

.ordernow{
    background-color: rgb(255, 191,0);
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    padding: 9px 22px;
    cursor: pointer;
}

#ordernw{
    margin-left: 15px;
}

.search{
    margin-right: 30px;
}

.imgSearch{
    width:1.1%; 
    margin-right: 5px;
}

.locatn{
    width: 0.9%;
    height: 1%;
    margin-right: 5px;
}

.loc{
    color: rgb(38, 38, 163);
}

.subHead2{
    margin-left:240px;
}

.subHead2 a{
    text-decoration: none;
    color: black;
    margin-left: 52px;
    font-size: medium;
    float: left;
    padding-top: 20px;
}

#Downarrow2{
    width: 1.1%;
    margin-left: -919px;
    margin-top: 22px;
}

.content{
    margin-top: 90px;
    width: 100%;
    height:500px;
    display: flex;
}

.sideCon{
    margin-left: 40px;
    justify-content: end;
}

.image{
    width: 746px;
    height: 337px; 
    margin-left: 182px; 
}

.head{
    margin-left: 1px;
    margin-top: 10px;
    line-height: 40px;
    padding-bottom: 25px;
}

h1{
    font-weight:700;
    font-size: 36px;
    color: rgb(43, 42, 42);
}

.para{
    line-height: 23px;
}

h6{
    padding-top: 35px;
    font-size: x-small;
    font-weight: 400;
}

#button1{
    width: 180px;
    height: 48px;
    margin-top: 50px;
}

#button2{

}

